[Unit]
Description=Docker Registry

After=docker.service

[Service]
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop docker-registry
ExecStartPre=-/usr/bin/docker rm docker-registry
{% if (docker_registry_storage_directory_wait > 0) and (docker_registry_storage_directory | length > 0) %}
# https://www.reddit.com/r/linuxadmin/comments/5z819x/how_to_have_a_systemd_service_wait_for_a_network/dex120s/
ExecStartPre=/bin/bash -c 'while [ ! -d {{ docker_registry_storage_directory | quote }} ]; do /usr/bin/sleep 5; done'
TimeoutStartSec={{ docker_registry_storage_directory_wait }}
{% endif %}
ExecStart=/usr/bin/docker run --name docker-registry -p {{ docker_registry_listen_port }}:5000 registry:{{ docker_registry_version }}
ExecStop=/usr/bin/docker stop docker-registry

[Install]
WantedBy=multi-user.target
